@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
}
:root{
    --black: #000;
    --gray: rgb(35, 35, 35);
    --red: #cc0000;
}
header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;


    padding: 20px 50px 100px 50px;
    /* min-height: 500px; */
    background-image: url("images/header.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    align-self: flex-start;
    justify-self: start;
    padding: 20px;
    
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.frase{
    background-color: var(--gray);
    color: white;

    padding: 20px;
    text-align: center;
}


.bot{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;

    padding: 40px;
    /* background-color: rgba(96, 96, 96, 0.382); */
    background-image: url("images/Fondo-bot.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

.text{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
    align-self: center;
    justify-self: center;
    padding: 20px;
    text-align: center;
}
h2{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 50px;
}

.red{
    color: var(--red);
}
.black{
    color: var(--black);
}